<!DOCTYPE html>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!isSearchbarOpened">
      <h6>LIKATKAT&#477; MIYA FAL HYEL</h6>
    </ion-title>
    <ion-buttons slot="start" *ngIf="!isSearchbarOpened">
      <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
    <ion-searchbar [(ngModel)]="searchTerm"              
                  (ionChange)="setFilteredItems()" 
                  placeholder="Search no." color="dark" 
                  *ngIf="isSearchbarOpened" showCancelButton= "isSearchbarOpened=true" 
                  (ionCancel) = "isSearchbarOpened=false">
    
    </ion-searchbar>
    <ion-buttons slot ="end" ion-button icon-only *ngIf="!isSearchbarOpened" (click) ="isSearchbarOpened=true">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-tabs>

    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="tab1" class="tbs">
        <ion-label>All</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2" class="tbs" >
        <ion-label>Index</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" class="tbs">
        <ion-label>Favourite</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>

  
  
</ion-content>