.tbs{
    font-size: 14px;
    background:purple;
  
}

ion-tab-button:hover{
   background-origin: padding-box;
   box-sizing: border-box;
   box-shadow: lightgray;
}
.search{
margin-right: 1rem;
font-size: 20px;
}