
 .tbs{
    font-size: 14px;
    background:purple;
} 

 ion-tab-button.tab-selected {
  ion-icon, ion-label {
    color: #f3e5ab !important;
    --ion-color-base: purple !important;

  }
} 


.search{
margin-right: 1rem;
font-size: 20px;
}


