.dark-theme{
    .ion-content{
        background-color: #fff;
       
    }
    .header .toolbar-background{
     background-color: #fff;
     color:#fff;
    }
    .toolbar-title{
        color:#fff;
    }
    .tbs{
        background-color: #fff;
        color:#fff; 
    }
  
}