<!DOCTYPE html>
<ion-app>
    <ion-menu contentId="content1" side="start">
        <div class="ion-text-center">
            <img src="./../../../assets/icon/new.png" width="100px" height="100px"/>
            <h6>Miya Fal Hyel</h6>
        </div>
      
      <ion-content>

       <ion-menu-toggle>
          <ion-item lines="none" routerLink="#" routerDirection="forward">
          <ion-icon  name="cog" slot="start"></ion-icon>
            Settings
          </ion-item>
       </ion-menu-toggle>
         
      <ion-menu-toggle>
          <ion-item lines="none" routerLink="#" routerDirection="forward">
          <ion-icon name="help" slot="start"></ion-icon>
            Help
          </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines="none" routerLink="#" routerDirection="forward">
        <ion-icon name="information-circle" slot="start"></ion-icon>
          About
        </ion-item>
    </ion-menu-toggle>

       <ion-item-divider class="divi"></ion-item-divider>
       <ion-label class="space" padding>communicate</ion-label>
       <ion-menu-toggle>
        <ion-item lines="none" >
           <ion-icon  name="mail" slot="start"></ion-icon>
           manugodfrey@gmail.com
          </ion-item>
     </ion-menu-toggle>
      </ion-content>
     
     <ion-row>
      
     </ion-row>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
  </ion-app>