<!DOCTYPE html>
<ion-content padding>
  <ion-item>
    <ion-text color="violet">0001</ion-text>
    <ion-icon name="cog"></ion-icon>
   <h5 class="title">The God of Abraham praise!</h5>
  </ion-item>
  <ion-item>
   <ion-text color="violet">0003</ion-text>
   <ion-icon name="cog"></ion-icon>
  <h5 class="title">Thou whose almihty word</h5>
 </ion-item>
 <ion-item>
   <ion-text color="violet">0003</ion-text>
   <ion-icon name="cog"></ion-icon>
  <h5 class="title">Come, Thou Almighty King</h5>
 </ion-item>
 <ion-item>
   <ion-text color="violet">0004</ion-text>
   <ion-icon name="cog"></ion-icon>
  <h5 class="title">Glory to God on high</h5>
 </ion-item>
 <ion-item>
   <ion-text color="violet">0005</ion-text>
   <ion-icon name="cog"></ion-icon>
  <h5 class="title">Grace tis a charming sound</h5>
 </ion-item>
  
</ion-content>
